
 .hero {
  height: 100vh;

  background-image:
    linear-gradient(hsla(39, 99%, 47%, 0.79), rgba(0,0,0,0.5)),
    url("../../assets/pires.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;

  padding: 40px;

  text-align: center;
  color: white;

  max-width: 600px;
  margin: auto;

  border: 1px solid rgba(255,255,255,0.2);

  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.hero h1 {
 .hero h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}
}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.hero-button {
  display: inline-block;

  background-color: #25D366;
  color: white;

  padding: 15px 35px;
  border-radius: 50px;

  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  transition: 0.3s;
  cursor: pointer;

   box-shadow: 0 10px 25px rgba(37, 211, 102, 0.4);
}

.hero-button:hover {
  transform: scale(1.05);
  background-color: #1ebe5d;
}
.hero-logo {
  
  width: 150px;
  height: 150px;
  border: radius 50px;
  margin-bottom: auto;

}

/*  MOBILE/celualar  */
@media (max-width: 768px) {

  .overlay {
    padding: 20px;
    text-align: center;
  }

  .hero-logo {
    width: 150px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}