.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  z-index: 1000;

  background: transparent;
  transition: 0.4s;
}

.navbar.active {
  background: hwb(30 8% 5%);
  box-shadow: 0 2px 10px lch(95.09% 1.01 110.03 / 0.959);
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #080505;
  font-weight: 500;
}
/* celular */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
  }

}